<html>
    <head>
        <title>Proj2 Landing Page</title>
    </head>
    <body>
        <h1>Welcome to my CIS 322 Project 2 page!</h1>
        
        <p>
            If this page successfully loaded, then all is in good order. The
            source of this repo is <a href="http://bitbucket.org/Andistar12/cis322-proj2" target="_blank">here</a>.
        </p>

        <p>
            The resource you are trying to access is: {{ resource }} 
        </p>
    </body>
</html>

